body{
  font-family: 'Courier New';
}
#container{
  width: 900px;
  margin:50px auto;
}

#container2{
  width: 400px;
  margin:50px auto;
}

h1{
  font-size: 30px;
  margin:10px auto;
  text-align: center;
}

p{
  margin:10px auto;
}

.btn {
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-family: 'Courier New';
  border-radius: 20px;
  font-size: 13px;
  background-color: #09853d;
  text-decoration: none;
}

