body{
    background-color: #f0ffff;
}

nav{
    background-color: #05595c;
    color:#fff;
}

a{
    color:#fff;
}

.resource-nav{
    background-color: #77998c;
}

.resource-body{
    background-color: #faf0e6;
}
